<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="jsonFileExtension" value="txt"/>
    <add key="jsonFolderDirectory" value="..\..\..\Json Directory"/>
    <add key="excelTemplateDataStoreWorksheetName" value="data"/>
    <add key="excelTemplateFullPath" value="..\..\..\excel.xlsx"/>
  </appSettings>
</configuration>
